---
layout: post
slug: "photos"
title: "相册"
noDate: "true"
comments: "true"
reward: "true"
open_in_new: false
---
<link rel="stylesheet" href="ins.css">
<div class="photos-btn-wrap">
    <a class="photos-btn" href="/photos">Photos</a>
    <a class="photos-btn active" href="videos.html">Videos</a>
</div>


<center><h1>自我</h1></center>
<hr/>

<div class="video-container">
<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MTc4OA==" 
    frameborder=0 scrolling=no allowfullscreen>
</iframe>


<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MjY1Mg==" 
    frameborder=0 scrolling=no allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MjQ2MA==" 
    frameborder=0 scrolling=no allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MTc5Ng==" 
    frameborder=0 scrolling=no allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MTc5Mg==" 
    frameborder=0 scrolling=no allowfullscreen>
</iframe>

</div>
<hr/>

<center><h1>吃货</h1></center>
<hr/>

<div class="video-container">
<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MjQ0NA==" 
    frameborder=0 allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MjIzNg==" 
    frameborder=0 allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MTYzNg==" 
    frameborder=0 allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MjIzNg==" 
    frameborder=0 allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MjY3Ng==" 
    frameborder=0 allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MjQ5Ng==" 
    frameborder=0 allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MTk4NA==" 
    frameborder=0 allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MTk3Ng==" 
    frameborder=0 allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MjI1Ng==" 
    frameborder=0 allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MjI2OA==" 
    frameborder=0 allowfullscreen>
</iframe>

</div>
<hr/>


<center><h1>生活</h1></center>
<hr/>

<div class="video-container">

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MTYzMg==" 
    frameborder=0 allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MjYxMg==" 
    frameborder=0 allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MTk3Mg==" 
    frameborder=0 allowfullscreen>
</iframe>

<iframe height="30%" width="30%" src="http://player.youku.com/embed/XMzgzNjE5MTY0MA==" 
    frameborder=0 allowfullscreen>
</iframe>

</div>
